html, body{
    height: 100%;
    width: 100%;
    padding: 0%;
}

.daftarSbg{
    padding: 3%;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.trTambah {
    padding: 10px;
}

.fade-In{
    animation : fadeIn 2s;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity : 1;
    }
}

.rowE {
    margin-bottom: 40px;
}

.dafSbg1{
    background-color: rgb(131, 170, 73); height: 100%; width: 100%;
}

.dafsbg2{
    background-color: green; height: 100%; width: 100%;
}

.dafSbg2:hover{
    background-image: linear-gradient(to left, green, yellow);
}

.dafSbg1:hover{
    background-image: linear-gradient(to right, green, yellow);
}

.permintaanToko{
    background-color: rgb(93, 146, 93);
    border-radius: 50px;
}

.container{
    width: 100%;
    height: 100%;
    margin: 0;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
input[type=text], input[type=password], input[type=email]{
    outline: none;
    color: white;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: rgb(7, 51, 7);
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #ccc;
}

input[type=text]:focus{
    border-bottom: 1px solid green;
}

.btnRestockToko{
    background-color: white;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
}

input[type=submit]{
    width: 100%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.inputLogin{
    background-color: rgb(7, 51, 7);
    display: inline-block;
}

.logout{
    color: white;
}

.inputProfil{
    background-color: rgb(218, 218, 218);
}

.btn-halLogin{
    background-color: rgb(131, 170, 73);
}

.btn-halLogin:hover{
    background-color: rgb(154, 255, 4);
    color: black;
}

.sidebarDaftarBarang{
    padding: 20px;
    color: white;
}
.sidebarDaftarBarang:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}

.buttonSide{
    
    color: white;
}

.buttonSide:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}

